{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
<!-- FORMULARIO LOGIN -->
<div class="container" style="margin-bottom: 11%;">
    <div class="row justify-content-center">
        <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 ">
            <h1 class= "text-center" style="margin-top: 8%; margin-bottom: 6%; color: green; font-weight: bold;">Ingresa tus credenciales</h1> 
        
       </div>  
    </div>    

    <div class="row justify-content-center">
       <div class="col-10 col-sm-10 col-md-8 col-lg-6 col-xl-5">

                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}


                    <div class="text-center" style= "margin-top: 6%; margin-bottom: 3%;">
                        <button type="submit" class="btn" style="background-color: green; color: white;">Iniciar sesión</button>
                    </div>
                    <div class="text-center" style= "margin-top: 5%; margin-bottom: 12%;">
                    <label>¿No tienes cuenta?.<a  href="{% url 'registro_usuario' %}"> Regístrate.</a></label>
                    </div>
                </form>
            </div>
            </div>
        </div>        
    </div>
</div>
{% endblock %}