{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
<!-- FORMULARIO REGISTRO -->
<div class="container" style="margin-bottom: 3%;">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-7 col-lg-7 col-xl-5">
            <h1 class= "text-center" style="margin-top: 8%; margin-bottom: 6%; color: green; font-weight: bold;">Ingresa tus datos</h1> 
    
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <div class="text-center" style= "margin-top: 6%; margin-bottom: 3%;">
                        <button type="submit" class="btn" style="background-color: green; color: white;">Crear cuenta</button>
                    </div>
                    <div class="text-center" style= "margin-top: 5%; margin-bottom: 5%;">
                    <label>¿Tienes cuenta?.<a  href="{% url 'login' %}"> Inicia sesión.</a></label>
                    </div>
                </form>
        </div>        
    </div>
</div>
{% endblock %}