{% extends 'app/base.html' %} {% load static %} {% block contenido %}
<div class="container-fluid cardfachera">

    <div class="row">

        <!-- CARD DE PRODUCTOS -->
        <div class="gallery">
            {% for aux in listaProductos %}
            <div class="content">
                {% if aux.imagen %}
                <img src="{{aux.imagen.url}}"> {% else %}
                <img src="{% static 'app/img/noimagen.jpg' %}"> {% endif %}
                <h10>Stock: {{ aux.stock }} uds.</h10>
                <h3>{{ aux.nombre }}</h3>
                {% if aux.descuento > 0 %}
                <h6 style="text-decoration: line-through; font-size: 14px;">${{ aux.precio }}</h6>
                <h6 style="color: rgb(231, 106, 106); font-size: 20px;">{{ aux.descuento }}% de descuento</h6>
                <h6 style="color: rgb(255, 91, 91);">${{ aux.calcular_descuento}} </h6>
                {% else %}
                <h6>${{ aux.precio }}</h6>
                {% endif %}
                <td>
                    <div style="margin-bottom: 2%;">
                        {% if perms.app.change_producto %}
                        <a href="{% url 'modificar_producto' aux.id %}" class="btn btn-info">Modificar</a> {% endif %} {% if perms.app.delete_producto %}
                        <a onclick="confirmarEliminar({{aux.id}})" class="btn btn-danger">Eliminar</a> {% endif %}
                    </div>
                </td>
            </div>
            {% endfor %}
        </div>
    </div>
    <div style="margin-top: 1.7%; margin-bottom: 2.2%;">
        {% include 'app/paginator.html' %}
    </div>
</div>
{% endblock %}