{% extends 'app/base.html' %}
{% load static %}
{% block contenido %}
<div class="container-fluid cardfachera">
    <!-- ROW para hacer una separación en 2 secciones-->
    
    <div class="row">      

        <!-- PRODUCTOS -->
        <div class="gallery">
          {% for aux in listaProductos %}
        <div class="content">
            <img src="{{aux.imagen.url}}">
            <h3>{{ aux.nombre }}</h3>          
            <h6>${{ aux.precio }}</h6>
            <button class="buy-1">Agregar al carro</button>
        </div>
        {% endfor %}
        </div> 
  </div>
</div>
{% endblock %}
