{% extends 'app/base.html' %} {% load static %} {% block contenido %}
<div class="container-fluid cardfachera">

    <div class="row">

        <!-- CARD DE PRODUCTOS -->
        <div class="gallery">
            {% for aux in listaProductos %}
            <div class="content">
                {% if aux.imagen %}
                <img src="{{aux.imagen.url}}"> {% else %}
                <img src="{% static 'app/img/noimagen.jpg' %}"> {% endif %}
                <h10>Stock: {{ aux.stock }} uds.</h10>
                <h3>{{ aux.nombre }}</h3>
                {% if aux.descuento > 0 %}
                <h6 style="text-decoration: line-through; font-size: 14px;">${{ aux.precio }}</h6>
                <h6 style="color: rgb(231, 106, 106); font-size: 20px;">{{ aux.descuento }}% de descuento</h6>
                <h6 style="color: rgb(255, 91, 91);">${{ aux.calcular_descuento}} </h6>
                {% else %}
                <h6>${{ aux.precio }}</h6>
                {% endif %} {% if aux.stock == 0 %}
                <button style="background-color: black;" class="buy-1">AGOTADO</button> {% else %}
                <button class="buy-1">Agregar al carro</button> {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div style="margin-top: 1%; margin-bottom: 1.5%;">
        {% include 'app/paginator.html' %}
    </div>
</div>
{% endblock %}